{% load task_extras %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <title>Tasks</title>
    <style>
      article.card {
        margin-bottom: 20px;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="grid">
        <div>
          <h4>К выполнению</h4>
          {% get_tasks_by_status tasks status='todo' as tasks_todo%}
          {% for task_todo in tasks_todo %}
          <article class="card">{{ task_todo.title }}</article>
          {% endfor %}
        </div>
        <div>
          <h4>В процессе</h4>
          {% get_tasks_by_status tasks status='in_progress' as tasks_in_progress%}
          {% for task_in_progress in tasks_in_progress %}
          <article class="card">{{ task_in_progress.title }}</article>
          {% endfor %}
        </div>
        <div>
          <h4>Выполнено</h4>
          {% get_tasks_by_status tasks status='done' as tasks_done%}
          {% for task_done in tasks_done %}
          <article class="card">{{ task_done.title }}</article>
          {% endfor %}
        </div>
      </div>
    </main>
  </body>
</html>
